@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  display: block;
  width: 1150px;
  margin: auto;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid rgb(181, 181, 181);
}

.navbar-logo {
  width: 200px;
  margin-left: 5px;
  height: 80%;
}

.navbar-logo h1 {
  padding-top: 7px;
}

.navbar-logo span {
  color: rgb(255, 167, 59);
}

.navbar-menu {
  width: 800px;
  height: 80%;
  padding-left: 100px;
}

.navbar-menu ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 0px 0px;
}
.navbar-menu li {
  list-style: none;
}

.navbar-cart {
  width: 300px;
  height: 80%;
}

.navbar-cart ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 0px 0px;
}

.navbar-cart li {
  list-style: none;
}

/* main */
.main {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
  margin-bottom: 20px;
}

.main-img {
  width: 600px;
  height: 400px;
  box-shadow: 8px 8px 1px rgb(255, 167, 59);
  margin-top: 30px;
}

.main-img img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.main-contents {
  width: 450px;
  height: 400px;
}

.main-contents p {
  font-size: 120px;
}

.main-contents span {
  color: rgb(255, 167, 59);
}

/* loadcycle */
.loadcycle {
  width: 100%;
  height: 400px;
  display: flex;
  border-bottom: 1px solid rgb(181, 181, 181);
}

.loadcycle-title {
  width: 200px;
  height: 100%;
  padding-left: 30px;
}

.loadcycle-title h1 {
  text-align: left;
  padding-top: 200px;
}

.loadcycle-title p {
  text-align: left;
}

.loadcycle-brand {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 90px;
  padding-top: 50px;
  padding-left: 80px;
}

.load-form {
  width: 220px;
  height: 300px;
  background-color: rgb(255, 255, 244);
  box-shadow: 8px 8px 1px rgb(255, 167, 59);
}

.load-form img {
  width: 220px;
  height: 150px;
}

.load-form p {
  font-size: 20px;
  text-align: center;
  padding-top: 55px;
}

/* mtbcycle */
.mtbcycle {
  width: 100%;
  height: 400px;
  display: flex;
}

.mtbcycle-title {
  width: 200px;
  height: 100%;
  padding-left: 30px;
}

.mtbcycle-title h1 {
  text-align: left;
  padding-top: 200px;
}

.mtbcycle-title p {
  text-align: left;
}

.mtbcycle-brand {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 90px;
  padding-top: 50px;
  padding-left: 80px;
}

.mtb-form {
  width: 220px;
  height: 300px;
  background-color: rgb(255, 255, 244);
  box-shadow: 8px 8px 1px rgb(255, 167, 59);
}

.mtb-form img {
  width: 220px;
  height: 150px;
}

.mtb-form p {
  font-size: 20px;
  text-align: center;
  padding-top: 55px;
}

.pixiecycle {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: rgb(255, 167, 59);
}

.pixiecycle-title {
  width: 200px;
  height: 100%;
}

.pixiecycle-title h1 {
  text-align: center;
  padding-top: 200px;
}

.pixiecycle-title p {
  text-align: center;
}

.pixiecycle-brand {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 70px;
  padding-top: 50px;
  padding-left: 50px;
}

.pixie-form {
  width: 220px;
  height: 300px;
  background-color: rgb(255, 255, 244);
  box-shadow: 8px 8px 1px rgb(161, 99, 24);
  border-radius: 5px;
}

.pixie-form img {
  width: 220px;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}

.pixie-form p {
  font-size: 20px;
  text-align: center;
  padding-top: 55px;
}